@use '../../styles/palette.scss' as colours;

.menu {
    padding: 30px;
    flex: 1;
    background-color: colours.$feldgrau;
    min-height: 480px;

    @media(max-width: 600px){
        min-height: 0;
        padding: 0;
        display: flex;
        justify-content:space-between;
    }

    li {
        list-style: none;
        color: colours.$mintCream;
        padding: 15px;
      

        &:hover{
            background-color: colours.$mintCream;
            color: colours.$feldgrau;
            cursor: pointer;
        }
        &:nth-child(odd){

        }

    }
}