@use '@/styles/palette.scss';
@use '@/styles/mixins.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
  @include mixins.forMobile {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
  }
}

#__next {
    height: 100vh;
    display: flex;
    flex-direction: column;
    @include mixins.forMobile {
        height: auto;
    }
}

a {
  color: inherit;
  text-decoration: none;
}
