@use '@/styles/mixins.scss';

@use '@/styles/defaultTheme.scss' as theme;

$backgroundColor: theme.$menu-background;
$textColor: theme.$menu-text;
$hoverBackgroundColor: theme.$menu-hoverBackground;
$hoverTextColor: theme.$menu-hoverText;

.menu {
    @include mixins.usePadding(2);
    flex: 1;
    background-color: $backgroundColor;
    min-height: 480px;
    max-width: 330px;

    @include mixins.forMobile {
        @include mixins.usePadding(0);
        min-height: 0;
        max-width: none;
        display: flex;
        justify-content:space-between;
    };

    li {
        @include mixins.usePadding();
        list-style: none;
        color: $textColor;

        &:hover{
            background-color: $hoverBackgroundColor;
            color: $hoverTextColor;
            cursor: pointer;
        }
    }
}
