@use '@/styles/mixins.scss';

.page {
    display: flex;
    height: 85%;
    
    @include mixins.forMobile {
        flex-direction: column;
    }

    .content {
        flex: 5;
        overflow: scroll;
    }
}
