@use '@/styles/palette.scss';
@use '@/styles/mixins.scss';

@use '@/styles/defaultTheme.scss' as theme;

$backgroundColor: theme.$footer-backgroundColor;
$fontColor: theme.$footer-text;

.footer {
    @include mixins.usePadding();
    background-color: $backgroundColor;
    color: $fontColor;
    flex: 5;
    margin-top: 2px;
}
