@use '@/styles/palette.scss';
@use '@/styles/mixins.scss';

@use '@/styles/defaultTheme.scss' as theme;

$backgroundColor: theme.$header-background;
$textColor: theme.$header-text;

.header {
    @include mixins.usePadding();
    background-color: $backgroundColor;
    color: $textColor;
    margin-bottom: 2px;
    font-size: 24px;
    font-family: Arial, sans-serif;
}
