@use '@/styles/mixins.scss';
@use '@/styles/defaultTheme.scss' as theme;

$backgroundColor: theme.$table-headerBackground;
$textColor: theme.$table-headerText;
$oddRow: theme.$table-oddRow;
$evenRow: theme.$table-evenRow;
$hoverRow: theme.$table-hoverRow;

.transactionTable {
   .headerArea {
        h2 {
            @include mixins.usePadding();
        }
        display: flex;
        flex-direction: column;
    }

    table {
        width: 100%;
        margin-top: 15px;
    }
    thead {
        @include mixins.forMobile {
            display: none;
        }
        background-color: $backgroundColor;
        font-size: 14px;
        th {
            @include mixins.usePadding(0.5);
            color: $textColor;
        }
    }
    tbody {
        @include mixins.forMobile {
            display: flex;
            flex-direction: column;
        }
        tr {
            @include mixins.forMobile {
                @include mixins.useUnevenPadding();
                width: 95%;
                margin: 8px auto;
                box-shadow:5px 5px 4px 1px rgba(0, 0, 0, 0.2);
            }

            &:nth-child(odd) {
                background-color: $oddRow;
            }
            &:nth-child(even) {
                background-color: $evenRow;
            }
            &:hover {
                background-color: $hoverRow;
                cursor: pointer;
            }
            td {
                font-size: 14px;
                @include mixins.useUnevenPadding();
                .header { 
                    display: none;
                }

                @include mixins.forMobile {
                    display: flex;
                    @include mixins.usePadding(0);

                    .header {
                        @include mixins.useUnevenPadding();

                        display: inline;
                        flex: 1;
                        text-align: right;
                        color: $textColor;
                        font-weight: bold;
                    }
                    .data {
                        @include mixins.useUnevenPadding();
                        text-align: left;
                        flex: 3;                        
                    }
                }
            }
        }
    }
}
