@use '../../styles/palette.scss' as colours;

.transactionTable {
    flex: 5;
    color: colours.$feldgrau;

    .headerArea {
        h2 {
            padding: 15px;
        }
        display: flex;
        flex-direction: column;

    }
    
    table {
        width: 100%;
    }
    thead {
        @media(max-width: 600px){
            display: none;
        }
        background-color: colours.$battleshipGrey;
        font-size: 18px;
        th {
            padding: 8px;
        }
    }
    tbody {
        @media(max-width: 600px){
            display: flex;
            flex-direction: column;
        }
        tr {
            @media(max-width: 600px){
                width: 95%;
                margin: 10px auto;
                box-shadow:5px 5px 4px 1px rgba(0, 0, 0, 0.2);
                padding: 10px 0;
            }

            &:nth-child(odd) {
                background-color: colours.$mintCream;
            }
            &:nth-child(even) {
                background-color: colours.$ashGrey;
            }
            &:hover {
                background-color: colours.$celadon;
                cursor: pointer;
            }
            td {
                font-size: 14px;
                padding: 16px 8px;

                .header { 
                    display: none;
                }
                &.negativeNumber {
                    color: #f00;
                }

                @media(max-width: 600px){
                    display: flex;
                    padding: 2px 0;

                    .header {
                        display: inline;
                        flex: 1;
                        text-align: right;
                        padding: 5px 15px;
                        color: colours.$feldgrau;
                    }
                    .data {
                        text-align: left;
                        flex: 3;
                        padding: 5px 15px ;
                        
                    }
                }

            }
        }
    }
}